body {
    padding: 50px;
}

.btns td {
    border: 1px solid white;
    padding: 5px;
}

.objects td {
    border: 1px solid lightgray;
    padding: 5px;
}

/*https://cssgradientbutton.com/#*/
.button-new {
    border:1px solid #96f0ff; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #000000;
    background-color: #cef8ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#cef8ff), to(#7fe0f8));
    background-image: -webkit-linear-gradient(top, #cef8ff, #7fe0f8);
    background-image: -moz-linear-gradient(top, #cef8ff, #7fe0f8);
    background-image: -ms-linear-gradient(top, #cef8ff, #7fe0f8);
    background-image: -o-linear-gradient(top, #cef8ff, #7fe0f8);
    background-image: linear-gradient(to bottom, #cef8ff, #7fe0f8);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cef8ff, endColorstr=#7fe0f8);
}

.button-new:hover {
    border:1px solid #68e9ff;
    background-color: #9bf1ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#9bf1ff), to(#4fd4f5));
    background-image: -webkit-linear-gradient(top, #9bf1ff, #4fd4f5);
    background-image: -moz-linear-gradient(top, #9bf1ff, #4fd4f5);
    background-image: -ms-linear-gradient(top, #9bf1ff, #4fd4f5);
    background-image: -o-linear-gradient(top, #9bf1ff, #4fd4f5);
    background-image: linear-gradient(to bottom, #9bf1ff, #4fd4f5);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9bf1ff, endColorstr=#4fd4f5);
}

.button {
    border:1px solid #d1dcdf; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #000000;
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.button:hover {
    border:1px solid #b6c7cc;
    background-color: #d4dee1; background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
    background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

.button-table {
    border:1px solid #d1dcdf; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 3px 3px 3px 3px; text-decoration:none; display:inline-block;font-weight:bold; color: #000000;
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.button-table:hover {
    border:1px solid #b6c7cc;
    background-color: #d4dee1; background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
    background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}