<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>
<input type="button" onclick="history.back();" value="Назад"/>

<h1>Author:</h1>

<table class="author">
    <thead>
    <tr>
        <th>ID</th>
        <th>Surname</th>
        <th>FirstName</th>
        <th>SecondName</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${author.id}">1</td>
        <td th:text="${author.surname}">John Doe</td>
        <td th:text="${author.firstName}">John Doe</td>
        <td th:text="${author.secondName}">John Doe</td>
    </tr>
    </tbody>
</table>

<h1>Edit</h1>
<form action="#" th:action="@{/author/edit}" th:object="${author}" method="post">
    <p>Id: <input type="text" th:field="*{id}" readonly /></p>
    <p>Surname: <input type="text" th:field="*{surname}" /></p>
    <p>FirstName: <input type="text" th:field="*{firstName}" /></p>
    <p>SecondName: <input type="text" th:field="*{secondName}" /></p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

</body>
</html>