<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .author, .author td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Author:</h1>

<table class="author">
    <thead>
    <tr>
        <th>ID</th>
        <th>Surname</th>
        <th>FirstName</th>
        <th>SecondName</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${author.id}">1</td>
        <td th:text="${author.surname}">John Doe</td>
        <td th:text="${author.firstName}">John Doe</td>
        <td th:text="${author.secondName}">John Doe</td>
    </tr>
    </tbody>
</table>

</body>
</html>