<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Authors:</h1>
<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Surname</th>
        <th>FirstName</th>
        <th>SecondName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.surname}">John Doe</td>
        <td th:text="${author.firstName}">John Doe</td>
        <td th:text="${author.secondName}">John Doe</td>
    </tr>
    </tbody>
</table>

<div class="row">
    <form action="/list/authors">
        <input type="submit" value="Authors" />
    </form>
    <form action="/list/books">
        <input type="submit" value="Books" />
    </form>
    <form action="/list/genres">
        <input type="submit" value="Genres" />
    </form>
    <form action="/list/comments">
        <input type="submit" value="Comments" />
    </form>
</div>

</body>
</html>