<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>
<h1>Authors:</h1>

<table class="btns">
    <thead/>
    <tbody>
    <tr>
        <td>
            <form action="/list/authors">
                <input type="submit" value="Authors" />
            </form>
        </td>
        <td>
            <form action="/list/books">
                <input type="submit" value="Books" />
            </form>
        </td>
        <td>
            <form action="/list/genres">
                <input type="submit" value="Genres" />
            </form>
        </td>
        <td>
            <form action="/list/comments">
                <input type="submit" value="Comments" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Surname</th>
        <th>FirstName</th>
        <th>SecondName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.surname}">John Doe</td>
        <td th:text="${author.firstName}">John Doe</td>
        <td th:text="${author.secondName}">John Doe</td>
    </tr>
    </tbody>
</table>

</body>
</html>