<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Books:</h1>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Caption</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.addRecordDate}">John Doe</td>
        <td th:text="${book.caption}">John Doe</td>
        <td th:text="${book.description}">John Doe</td>
    </tr>
    </tbody>
</table>

<div class="row">
    <form action="/list/authors">
        <input type="submit" value="Authors" />
    </form>
    <form action="/list/books">
        <input type="submit" value="Books" />
    </form>
</div>

</body>
</html>