<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Book detail</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>

<form th:action="@{/book/list}" method="get">
    <p>
        <input type="submit" value="Books list" class="button"/>
    </p>
</form>

<h1>Book:</h1>

<table class="book">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Caption</th>
        <th>Description</th>
        <th>Author</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${book.id}">1</td>
            <td th:text="${book.addRecordDate}">John Doe</td>
            <td th:text="${book.caption}">John Doe</td>
            <td th:text="${book.description}">John Doe</td>
            <td>
                <a th:href="@{/author(id=${book.author.id})}" href="/author">View</a>
            </td>
            <td>
                <a th:href="@{/genre(id=${book.genre.id})}" href="/genre">View</a>
            </td>
        </tr>
    </tbody>
</table>

<h1>Edit</h1>
<form action="#" th:action="@{/book/edit}" th:object="${book}" method="post">
    <p>Id: <input type="text" th:field="*{id}" readonly/></p>
    <p>Caption: <input type="text" th:field="*{caption}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

</body>
</html>