<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Comment detail</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>

<form th:action="@{/comment/list}" method="get">
    <p>
        <input type="submit" value="Comments list" class="button"/>
    </p>
</form>

<h1>Comment detail:</h1>

<form action="#" th:action="@{/comment/edit}" th:object="${comment}" method="post">
    <p>Id: <input type="text" th:field="*{id}" readonly/></p>

    <p>Book: <select th:field="*{book}" >
        <option th:each="value: ${books}"
                th:value="${value.id}"
                th:text="${value.caption}">
        </option>
    </select></p>

    <p>UserName: <input type="text" th:field="*{userName}"/></p>
    <p>Text: <input type="text" th:field="*{text}"/></p>
    <p>
        <input type="submit" value="Update" class="button"/>
    </p>
</form>

</body>
</html>