<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>
<input type="button" onclick="history.back();" value="Назад"/>

<h1>Genre:</h1>

<table class="genre">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${genre.id}">1</td>
        <td th:text="${genre.name}">John Doe</td>
    </tr>
    </tbody>
</table>

</body>
</html>