<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>
<h1>Genres:</h1>

<table class="btns">
    <thead/>
    <tbody>
    <tr>
        <td>
            <form action="/author/list">
                <input type="submit" value="Authors" />
            </form>
        </td>
        <td>
            <form action="/book/list">
                <input type="submit" value="Books" />
            </form>
        </td>
        <td>
            <form action="/genre/list">
                <input type="submit" value="Genres" />
            </form>
        </td>
        <td>
            <form action="/comment/list">
                <input type="submit" value="Comments" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

<table class="genres">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.id}">1</td>
        <td th:text="${genre.name}">John Doe</td>
    </tr>
    </tbody>
</table>

</body>
</html>